<header class="container-fluid">
    <div class="row hero align-items-center">
        <div class="col">
            <h1>{{title}}</h1>
            <hr>
            <p>El mejor pan ecológico y tradicional de Prosperidad, en tu mesa.</p>
            <nav>
                <ul>
                    <li><a href="#"><i class="fab fa-twitter icon-lg"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-square icon-md"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g icon-sm"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin icon-lg"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>