<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:200&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <header class="menu">
    <a href="/">
      <img src="images/logotipo-cakes-cookies.svg" alt="Logotipo Cakes & Cookies">
    </a>
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Carta</a></li>
        <li><a href="#">A domicilio</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>